<%- include ("partials/header")%>
<main class="container-fluid"></main>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="text-decoration-none" id="lien-nav-principal" href="/">Acceuil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Création</li>
  </ol>
</nav>
  <div class="row">
    <nav class="bg-info col-sm-2 nav-prin" aria-label="menu-principal">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="creation" href="creation">Creation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="default">Défault</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="personnageCree">Personnage Créé</a>
      </li>
      </ul>
    </nav>
    <form action="https://philippefleury.com/backend.php" method="post" class="col-sm">
      <div class="row">
        <section class="col-md-6 bg-light p-3">
          <fieldset class="p-3">
            <div class="row">
              <figure class="figure col-5">
                <img src="/img/3.png" alt="Personage Nain" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">Les Personnages</figcaption>
              </figure>
              <div class="col">
                <div class="p-5">
                  <p class="text-success mb-3 h4">Choisir une race </p>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="choixPersonnage" id="Elfe" value="Elfe">
                    <label class="form-check-label  mb-2" for="Elfe">Elfe</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="choixPersonnage" id="Halfelin" value="Halfelin">
                    <label class="form-check-label mb-2" for="Halfelin">Halfelin</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="choixPersonnage" id="Humain" value="Humain">
                    <label class="form-check-label mb-2" for="Humain">Humain</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="choixPersonnage" id="Nain" value="Nain">
                    <label class="form-check-label mb-2" for="Nain">Nain</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="choixPersonnage" id="Sangdragon" value="Sangdragon">
                    <label class="form-check-label mb-2" for="Sangdragon">Sangdragon</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="choixPersonnage" id="Gnome" value="Gnome">
                    <label class="form-check-label mb-2" for="Gnome">Gnome</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="choixPersonnage" id="DemiElfe" value="DemiElfe">
                    <label class="form-check-label mb-2" for="DemiElfe">Demi-Elfe</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="choixPersonnage" id="DemiOrc" value="DemiOrc">
                    <label class="form-check-label mb-2" for="DemiOrc">Demi-Orc</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="choixPersonnage" id="Tieffelin" value="Tieffelin">
                    <label class="form-check-label mb-2" for="Tieffelin">Tieffelin</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mt-6">
              <label for="slogan">Slogan</label>
              <textarea class="form-control w-75" id="slogan"></textarea>
              <small class="form-text text-muted">
                Phrase de victoire de votre personnage
              </small>
            </div>
          </fieldset>
        </section>
        <section class="col-md-6 p-3 bg-light">
          <fieldset class="p-3">
            <div class="p-3 col-8">
              <div class="mb-3">
                <label for="couleur" class="form-label  text-success">Couleur de la badge</label>
                <input type="color" class="form-control form-control-color" name="couleur" id="couleur" value="couleur" title="Choose your color">
              </div>
              <label for="lieuxNaissance" class="form-label text-success">Lieux de Naissance</label>
              <input class="form-control" list="datalistOptions" name="lieuxNaissance" id="lieuxNaissance">
              <datalist id="datalistOptions">
                <option value="La compté">
                <option value="Pays du bouck">
                <option value="Vallé Ensorcellé">
                <option value="Montagne d'or">
                <option value="Marécage Malifique">
              </datalist>
            </div>
            <div class="p-3 col-8">
              <p class="text-success h4">Choisir les niveaux</p>
              <div>
                <label for="vitesseRange" class="form-label w-25">Vitesse <span id="vitesseValue"></span></label>
                <input type="range" class="form-range" name="vitesseRange" id="vitesseRange">
              </div>
              <div>
                <label for="magieRange" class="form-label w-25">Magie <span id="magieValue"></span></label>
                <input type="range" class="form-range" name="magieRange" id="magieRange">
              </div>
              <div>
                <label for="forceRange" class="form-label w-25">Force <span id="forceValue"></span></label>
                <input type="range" class="form-range" name="forceRange" id="forceRange">
              </div>
              <div>
                <label for="pouvoirRange" class="form-label w-25">Pouvoir <span id="pouvoirValue"></span></label>
                <input type="range" class="form-range" name="PouvoirRange" id="pouvoirRange">
              </div>
            </div>
            <div class="p-3 w-75">
              <label for="file" class="form-label  text-success">Importer vos Cartes</label>
              <input class="form-control" type="file" name="file" id="file">
            </div>
            <div class="btn-group p-3" role="group" aria-label="Boutton soummetre formulaire">
              <button type="submit" class="btn btn-primary">SOUMETTRE</button>
              <button type="button" class="btn btn-secondary">RÉNITIALISATION</button>
              <button aria-label="déé-personnages-aléatoires" type="button" class="btn bg-white"><svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-dice-6-fill" viewBox="0 0 16 16">
                  <path d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm1 5.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm8 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm1.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM12 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM4 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                </svg></button>
            </div>
          </fieldset>
        </section>
      </div>
    </form>
  </div>
</main>
<%- include ("partials/footer")%>