<%- include ("partials/header")%>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Acceuil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Personnage Créé</li>
    </ol>
  </nav>
<main class="container-fluid">
    <div class="row">
        <nav class="bg-info nav-principal col-sm-2 bg-info " aria-label="barre navigation prncipal">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" id="lien-nav-principal" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white " aria-current="creation" href="creation">Creation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="default">Default</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="personnage Créé"
                        href="personnageCree">Personnage Créé</a>
                </li>
            </ul>
        </nav>
        <div class="col-sm row image-fond-cree">
            <div class="col-md row">
                <div class="col-sm pb-5 pt-5 fade-in1">
                    <div class="card bg-info text-light mx-auto">
                        <img src="/img/1.png" class="card-img-top" alt="Premiere Cart">
                        <div class="card-body">
                            <span class="card-title fw-bold h5">Aranbin</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link stretched-link">Card link</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm pb-5 pt-5 fade-in2">
                    <div class="card bg-info text-light mx-auto">
                        <img src="/img/2.png" class="card-img-top" alt="Deuxième Cart">
                        <div class="card-body">
                            <span class="card-title fw-bold h5">Lerrer</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link stretched-link">Card link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md row">
                <div class="col-sm pb-5 pt-5 fade-in3">
                    <div class="card bg-info text-light mx-auto">
                        <img src="/img/3.png" class="card-img-top" alt="troisième cart">
                        <div class="card-body">
                            <span class="card-title fw-bold h5">Mashishi</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link stretched-link">Card link</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm pt-5 fade-in4">
                    <div class="card bg-info text-light mx-auto">
                        <img src="/img/2.png" class="card-img-top" alt="quatrième cart">
                        <div class="card-body">
                            <span class="card-title fw-bold h5">Braunruvim</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link stretched-link">Card link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include ("partials/footer")%>