.fade-in1 {
    animation: fadeIn 4s linear 0.5s both;
  }
.fade-in2 {
  opacity: 0;
  animation: fadeIn 4s linear 1.5s both;
}
.fade-in3 {
  opacity: 0;
  animation: fadeIn 4s linear 2.5s both;
}
.fade-in4 {
  opacity: 0;
  animation: fadeIn 4s linear 3.5s both;
}

  @keyframes fadeIn {
      0% { 
          opacity: 0;
      }
      25% { 
          opacity: 0.10;
      }
      35% { 
        opacity: 0.20;
    }
      50% { 
        opacity:0.5;
      }
      100% {
         opacity: 1;
      }
}