// ----------------------------------------------All Page---------------------------------------
body, html{
    font-family:'Ribeye', cursive !important;
    margin: 0 !important;
    padding: 0 !important;
}

// Primary
$dark-red: #4a2932;
$medium-red: #a34c50;
$flash-red: #e8443c;
$blue: #264c5e;
$light: #cec2ae;
$green: green;
$white: white;

$primary:       $dark-red;
$secondary:     $medium-red;
$danger:        $flash-red;
$success:       $green;
$info:          $blue;
$light:         $light;

//margin et padding
$spacer: 1rem;

$spacers: (
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: ($spacer),
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6),
    7: ($spacer * 15),
);


// --------------------------------------------------Page Création---------------------------------------------------
$form-range-track-bg: $success;

