.img-accueil{
    height:70vh;
    object-fit: contain;
}

.img-carte{
    height:50vh;
    object-fit: contain;
}

.image-fond-default{
    background-image: url("https://fr.fantasynamegenerators.com/images/backgrounds/wowTest.jpg");
    background-size: cover;
}
.image-fond-cree{
    background-image: url("https://fr.fantasynamegenerators.com/images/backgrounds/pathfinderGens.jpg");
    background-size: cover;
}