.image-fond-default{
    background-image: url("https://fr.fantasynamegenerators.com/images/backgrounds/wowTest.jpg");
    background-size: cover;
}
.image-fond-cree{
    background-image: url("https://fr.fantasynamegenerators.com/images/backgrounds/pathfinderGens.jpg");
    background-size: cover;
}