@import "custom"; 


.nav-prin { 
    li {
        a {
            &:hover {
                @extend .hover-light;
            }

        }
    }

}

.nav-secondaire {
    background: $degrader;

    a{
        font-weight: bold!important;

        &:hover {
            @extend .hover-light;
        }
    }

    input{     
        border: 0.1em solid rgba($light, 0.9);
        background-color: rgba($light, 0.9);
        border-radius: 20px;
        font-family: 'Times New Roman', Times, serif;

        &:focus {
             outline: none;
       }

        &:hover {
            background-color: rgba($light, 0.7)
        }
}
}
.active{
    color: $light!important;
}  