@import "custom"; 


.nav-principal { 
    @extend.bg-info;
    @extend.col-md-3;
    @extend.col-lg-2;
    li {
        a.active{
            color: $light!important;
        }
        a {
            @extend.nav-link;
            @extend.text-white;
            &:hover {
                @extend .hover-light;
            }

        }
    }

}

.nav-secondaire {
    @extend.navbar;
    @extend.navbar-expand-md;
    @extend.navbar-light;
    background: $degrader;

    a{
        font-weight: bold!important;

        &:hover {
            @extend .hover-light;
        }
    }

    input{     
        border: 0.1em solid rgba($light, 0.9);
        background-color: rgba($light, 0.9);
        border-radius: 20px;
        font-family: 'Times New Roman', Times, serif;

        &:focus {
             outline: none;
       }

        &:hover {
            background-color: rgba($light, 0.7)
        }
}
}

